body{
    background-color: white;
}
.title{
    font-size: 50px;
    text-align: center;
    color: darkgreen;
}
.nav li{
    display: inline; 

}
.nav a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    display: inline;
    margin: 50px;
}
.nav{
    background-color: darkgreen;
    padding: 5px;
    text-align: center;
}
.nav a:hover{
    color: black;
    margin: 50px;
}
img{
    margin-top: -20px;
    margin-left: 0px;
    width: 300px;
    height: 300px;
    padding-top: 7%;
}
.images{
    border: 2px solid black;
    width: 300px;
    height: 400px;
    display: inline;
}
.price{
    width: 300px;
    text-align: center;
    font-weight: bolder;
}
.name{
    width: 300px;
    text-align: center;
    font-weight: bolder;
}
.cart1{
    width: 300px;
   
}