body{
    background-color: white;
}
.title{
    font-size: 50px;
    text-align: center;
    color: darkgreen;
}
.nav li{
    display: inline; 

}
.nav a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    display: inline;
    margin: 50px;
}
.nav{
    background-color: darkgreen;
    padding: 5px;
    text-align: center;
}
.nav a:hover{
    color: black;
    margin: 50px;
}
img{
    margin-top: -40px;
    margin-left: 500px;
    width: 100hv;

}